In [1]:
from ml import *

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/data/datasets/auto-mpg.csv', delimiter=',')
df5 = df[:5]

# Series

When you select a single column from a Dataframe, the result is not a Dataframe but a Series. On Series we can apply expressions for instance to transform values. The expression is simply applied to every row and returned as a series.

In [4]:
df5.mpg + df5.acceleration * 10

0    138.0
1    130.0
2    128.0
3    136.0
4    122.0
dtype: float64

We can also assign Series or expressions to new column. For this we have to supply a label index. Note that we cannot add a column to a view, we can only add that to the original Dataframe.

In [5]:
df['exp'] = df.cylinders.pow(0.5)
df[['cylinders', 'exp']].head()

   cylinders       exp
0          8  2.828427
1          8  2.828427
2          8  2.828427
3          8  2.828427
4          8  2.828427

Because Pandas uses Numpy in the background to store the data, we can also use Numpy operators.

In [6]:
df['exp'] = np.sqrt(df5.cylinders)

# Boolean Indexing

We can use comparisons to produce a Series of Booleans indicating for which rows the comparison results in True and for which in False. You can use comparison operators like >, <, >=, <=, ==. When can also combine comparison using the and `&` and `|` or operators, but do not forget to use brackets.

In [7]:
(df5.mpg > 16) & (df5.acceleration < 12)

0    False
1    False
2     True
3    False
4     True
dtype: bool

You can also apply these results to a Dataframe to get a view only containing the rows that evaluate to True. This is called Boolean Indexing.

In [8]:
df[(df.mpg > 16) & (df.acceleration < 12)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,exp
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,2.828427
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,2.828427
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst,NaN
264,18.1,8,302.0,139,3205,11.2,78,1,ford futura,NaN
306,28.8,6,173.0,115,2595,11.3,79,1,chevrolet citation,NaN
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx,NaN
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,NaN