In [14]:
from ml import *

In [15]:
df = speeddating_pd()

In [5]:
df

,iid_x,gender_x,condtn_x,pid_x,age_x,field_x,field_cd_x,undergra_x,mn_sat_x,tuition_x,...,intel1_s_y,fun1_s_y,amb1_s_y,shar1_s_y,attr3_s_y,sinc3_s_y,intel3_s_y,fun3_s_y,amb3_s_y,match
100,11,1,1,1.0,27.0,Finance,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
101,11,1,1,2.0,27.0,Finance,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
102,11,1,1,3.0,27.0,Finance,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
103,11,1,1,4.0,27.0,Finance,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
104,11,1,1,5.0,27.0,Finance,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,552,1,2,526.0,25.0,Climate Dynamics,18.0,"Ecole Normale SupÅ½rieure, Paris",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6802,552,1,2,527.0,25.0,Climate Dynamics,18.0,"Ecole Normale SupÅ½rieure, Paris",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6803,552,1,2,528.0,25.0,Climate Dynamics,18.0,"Ecole Normale SupÅ½rieure, Paris",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6804,552,1,2,529.0,25.0,Climate Dynamics,18.0,"Ecole Normale SupÅ½rieure, Paris",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6805,552,1,2,530.0,25.0,Climate Dynamics,18.0,"Ecole Normale SupÅ½rieure, Paris",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
df['equal_race'] = (df.race_x == df.race_y) * 1.0
df['diff_age'] = (df.age_x - df.age_y).abs()
df['diff_intel'] = (df.intel3_1_x - df.intel3_1_y).abs()
df['diff_fun'] = (df.fun3_1_x - df.fun3_1_y).abs()
df.dropna(subset=['equal_race', 'diff_age', 'diff_intel', 'diff_fun'], inplace=True)

In [4]:
data = Data.from_dataframe(df, 'match', 'intel3_1_x', 'intel3_1_y', 'fun3_1_x', 'fun3_1_y', 'diff_intel', 'diff_fun', scale=True, bias=True, balance=True)

In [5]:
data = Data.from_dataframe(df, 'match', 'intel3_1_x', 'intel3_1_y', 'fun3_1_x', 'fun3_1_y', scale=True, bias=True, balance=True)

In [6]:
sum(1-data.valid_y)

550

In [7]:
model = logistic_regression(data, metrics=[loss, recall, precision], lr=0.01, k=20, max_depth=5)

In [8]:
model.train(1)

HBox(children=(IntProgress(value=0, description='Total', max=1, style=ProgressStyle(description_width='initial…

0 0.00s train loss: 15.567866  recall: 0.612682  precision: 0.543725 valid loss: 15.608669  recall: 0.571429  precision: 0.192926

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [9]:
model.train(1)

HBox(children=(IntProgress(value=0, description='Total', max=1, style=ProgressStyle(description_width='initial…

1 0.00s train loss: 15.567866  recall: 0.612682  precision: 0.543725 valid loss: 15.608669  recall: 0.571429  precision: 0.192926

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [10]:
model.train(1)

HBox(children=(IntProgress(value=0, description='Total', max=1, style=ProgressStyle(description_width='initial…

2 0.00s train loss: 15.567866  recall: 0.612682  precision: 0.543725 valid loss: 15.608669  recall: 0.571429  precision: 0.192926

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [11]:
model.parameters()

(array([-0.01466653]),
 array([[-0.01466653, -0.04407481, -0.07611311,  0.2977997 , -0.00505561]]))

In [12]:
len(df)

3272